@charset "UTF-8";

#site_main {
}

#site_main_img img{
	width: 800px;
	height: 400px;
	margin-bottom: 30px;
}

#site_main_info {
	width: 310px;
	height: 300px;
}

.site_main_info_table {
	border: 2px solid gray;	
	background-color: red;
	float: left;
	margin-left: 10px;
	margin-right: 30px;
}

.site_main_info_title {
	padding: 12px 17px;
}

.site_main_info_title img {
	
}

.site_main_info_img img{
	width: 140px;
	height: 180px;
}

#site_main_review_table {
	border: 2px solid gray;	
	width: 440px;
	height: 300px;
}
