@charset "UTF-8";

body {
	margin: 0;
	overflow-y: scroll;
}

@font-face {
	font-family: "title";
	src: url("title.TTF");
}

@font-face {
	font-family: "sns";
	src: url("sns.TTF");
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}

td {
	padding: 0;
}

#site_head {
	width: 100%;
	border-spacing: 0px;
	padding-top: 10px;
}

#site_head_area {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#site_head_list {
	right: 0px;
}

#result_place {
	padding-left: 650px;
}

#site_title img {
	height: 65px;
}

#site_title td{
	text-align: center;
	font-size: 30px;
	font-weight: 800;
	padding-top: 10px;
	cursor: pointer;
}

#site_login {
	float: right;	
}

#site_login_bar {
	padding-bottom: 2px;
	color: #999999;
}

#site_head_menu_area {
	width: 100%;
	border-bottom: 3px solid #aaaaaa;
}

#site_head_menu {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#site_head_menu li {
	float: left;
	list-style: none;
	font-size: 22px;
	font-weight: 700;
	width: 22%;
	text-align: center;
	border-bottom: 2px solid white;
}

#site_content {
	margin-left: auto;
	margin-right: auto; 
	width: 100%;
	margin-top: 20px;
	border-spacing: 0px;
	background-color: #FbFFFF;
}


.page_title {
	letter-spacing: 0px;
	text-align: left;
	background-color: #eeeeee;
	height: 50px;
	font-size: 44px;
	color: #444444;
	font-weight: 600;
	padding-bottom: 5px;
	padding-left: 30px;
	width: 1000px;
	border-bottom: 3px solid #444444;
}

.page_title_table {
	margin-bottom: 20px;
}

#site_head_menu1:active {
	
}

#site_head_menu1:hover {
	font-weight: 800;
	border-bottom: 2px solid #A8F552;
}

#site_head_menu2:active {
	
}

#site_head_menu2:hover {
	font-weight: 800;
	border-bottom: 2px solid #6991E1;
}

#site_head_menu3:active {
	
}

#site_head_menu3:hover {
	font-weight: 800;
	border-bottom: 2px solid #A8F552;
}

#site_head_menu4:active {
	
}

#site_head_menu4:hover {
	font-weight: 800;
	border-bottom: 2px solid #A8F552;
}

#result_place {
	position: absolute;
}