@charset "UTF-8";

#member_address_btn {
	position: absolute;
	top : 680px;
	right : 550px;
}

#join_idchk {
	opacity: 0;
	color: red;
}

#join_title {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	padding-bottom: 30px;
}

.join_input input {
	width: 300px;
	height: 35px;
	padding-left: 10px;
	font-size: 17px;
	font-weight: 400;
	color: #333333;
	margin-bottom: 15px;
}

#join_addr_input input {
	width: 300px;
	height: 25px;
	padding-left: 10px;
	font-size: 17px;
	font-weight: 400;
	color: #333333;
}

#join_photo_input input {
	height: 25px;
	margin-bottom: 35px;
}

#join_complete_btn button{
	text-align: center;
	width: 150px;
	height: 40px;
	background-color: #444444;
	border-radius: 4px;
	color: white;
	border: none;
}

#loginform_area {
	
}

#loginform_text {
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 15px;
}

.loginform_input input {
	width: 300px;
	height: 40px;
	padding: 2px 7px;
	margin-bottom: 15px;
	border: 2px solid #46B8FF;
}

#loginform_btn button {
	margin-top: 15px;
	width: 320px;
	height: 55px;
	background-color: #46B8FF;
	border: none;
	color: white;
	font-size: 22px;
	font-weight: 700;
}

#info_photxt {
	font-size: 17px;
	font-weight: 800;
	color: #1E90FF;
}

#info_text {
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 15px;
}

#info_area {
	height: 250px;
}

#info_main tr {

}

.info_txt1 {
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	background-color: #32A4FF;
	width: 150px;
	color: white;
}

.info_txt2 {
	width: 250px;
	text-align: left;
	padding-left: 15px;
	font-size: 20px;
	border-bottom: 2px solid #32A4FF;
	padding-top: 10px;
	height: 40px;
}

.info_btn {
	background: #0078FF;
	font-size: 20px;
	color: white;
	border: none;
	width: 120px;
	height: 45px;
	font-weight: 700;
	border-radius: 2px;
	margin: 30px;
}

#update_table {
	margin-top: 30px;
}

#update_photo {
	text-align: center;
	margin-right: 30px;
}

#update_photxt {
	font-size: 17px;
	font-weight: 800;
	color: #1E90FF;
}

#update_photo img{
	width: 150px;
	height: 180px;
}

#update_photo input {
	width: 90px;
}

#update_area {
	
}

.update_txt {
	font-size: 25px;
	font-weight: 600;
	padding: 8px;
	color: #1E90FF;
	padding-right: 25px;
}

.update_input1 input {
	border: none;
	outline: none;
	font-size: 20px;
	font-weight: 600;
}

.update_input2 input {
	border: none;
	border-bottom: 2px solid #3CAEFF;
	font-size: 16px;
	font-weight: 300;
	padding-left: 5px;
}

.update_input3 input {
	border: none;
	border-bottom: 2px solid #3CAEFF;
	font-size: 16px;
	padding: 5px 3px;
	padding-left: 5px;
}

#update_btn button {
	background: #0078FF;
	font-size: 20px;
	color: white;
	border: none;
	width: 120px;
	height: 45px;
	font-weight: 700;
	border-radius: 2px;
	margin-top: 50px;
}

#update_address_btn {
	position: absolute;
	top : 525px;
	right : 450px;
	background: #289AFF;
	color: white;
	border: none;
	width: 90px;
	height: 35px;
	font-weight: 700;
	border-radius: 3px;
}