@charset "UTF-8";

#theaterMain {
	border-spacing: 0px 5px;
}

#currentPage {
	margin-left: 50PX;
}

.underbar {
	width: 1000px;
	border-bottom: 1px solid black;
}


#theaterButton {
	margin-left: 40px;
	border: none;
	outline: none;
	background-color: coral;
	height: 30px;
	width: 70px;
	border-radius: 5px;
	box-shadow: 2px 2px 3px black;
}

#theaterButton2 {
	border: none;
	outline: none;
	background-color: #FFD854;
	height: 30px;
	width: 70px;
	border-radius: 5px;
}

#theaterSelect {
	border-bottom: 1px solid coral;
}

#theater_title {
	left: 40px;
}


.theaterList {
	width: 700px;
	height: 400px;
}

<!-- TheaterDetail 부분 -->

#theaterDetail {
	width: 800px;
	height: 500px;
	border-spacing: 10px;
}

#poster{
	width: 250px;
	height: 350px;
}

#detailMove {
	width: 500px;
	border-top: 2px solid gray;
	border-spacing: 0px;
	margin-bottom: 50px;
}

.detailMenu {
	text-align: center;
}

#CurrentdetailMenu {
	text-align: center;
	background-color: gray;
	color: white;
}

#DetailMain {
	margin-top: 50px;
	margin-bottom: 50px;
}

#theaterDetailPersonProfile {
	width: 40px;
	height: 53px;
}


<!-- PersonDetail 부분 -->

#personInfoDetail {
	width: 800px;
	height: 500px;
	border-spacing: 10px;
}

#personProfile {
	width: 120px;
	height: 150px;
}

#personDetailMain {
	margin-top: 50px;
	margin-bottom: 50px;
}

.theaterTitle {
	font-weight: 800;
}

#PersonDetailPage {
	width: 600px;
	margin-top: 50px;
}